.HamburgerMenu {
  display: none;
} 

.hamburger {
  display: none;
  /* visibility: hidden; */
  flex-direction: column;
  cursor: pointer;
  position: sticky;
  top: 4rem;
  right: 3rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .HamburgerMenu {
    display: block;
  }
  .hamburger {
    display: flex;
  }

  .burger-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 8rem;
    left: 3rem;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1000;
  }
  
  .burger-menu-links a {
    font-size: 1.6rem;
    padding-top: 2rem;
  }

}